<div>
  <h1 class="font-bold text-4xl">Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>

  <h1>Hello, World!</h1>
  <%= render 'shared/links' %>

  <%= button_to "Redeem invite id", invite_ids_path, class: "rounded bg-gray-900 px-3 py-2 text-white", data: { turbo: false } %>
</div>
